<a href="https://colab.research.google.com/github/pravin-raut/DS-ML/blob/Master/02_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("/content/Classification-Input.csv")

In [4]:
data.head(20)

,Name,Age,Experience,No Of Skills,No Of Certification,Salary,Designation
0,A,20,1,2,3,100,1
1,B,21,2,2,4,101,1
2,C,22,3,2,5,102,1
3,D,23,4,2,6,103,1
4,E,24,5,2,7,104,1
5,F,25,6,2,8,105,2
6,G,26,7,2,9,106,2
7,H,27,8,2,10,107,2
8,I,28,9,2,11,108,2
9,J,29,10,2,12,109,2

In [5]:
X=data[['Age','Experience','No Of Skills','No Of Certification','Salary']]
X

   Age  Experience  No Of Skills  No Of Certification  Salary
0   20           1             2                    3     100
1   21           2             2                    4     101
2   22           3             2                    5     102
3   23           4             2                    6     103
4   24           5             2                    7     104
5   25           6             2                    8     105
6   26           7             2                    9     106
7   27           8             2                   10     107
8   28           9             2                   11     108
9   29          10             2                   12     109

In [7]:
y=data['Designation']

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,Y_test=train_test_split(X,y,random_state=42,test_size=0.3)

In [9]:
from sklearn.linear_model import LogisticRegression
import numpy as np

In [10]:
slr_model=LogisticRegression()

In [11]:
slr_model.fit(X_train,y_train)

LogisticRegression()

In [13]:
new_input = np.array([[33, 15,5,17,115]])
df = pd.DataFrame(new_input, columns=['Age','Experience','No Of Skills','No Of Certification','Salary'])

prediction = slr_model.predict(df)
prediction

array([2])

In [14]:
y_pred = slr_model.predict(X_test)

In [17]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(Y_test, y_pred)
cm

array([[1, 0],
       [1, 1]])