<a href="https://colab.research.google.com/github/pravin-raut/DS-ML/blob/Master/05_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [12]:
data=pd.read_csv("/content/diabetes.csv")
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
feature_cols=['Pregnancies','Insulin','Age','Glucose','BMI','DiabetesPedigreeFunction'	]

In [5]:
x=data[feature_cols]
y=data.Outcome

In [6]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X1=scaler.fit_transform(x)

In [8]:
X1

array([[ 0.63994726, -0.69289057,  1.4259954 ,  0.84832379,  0.20401277,
         0.46849198],
       [-0.84488505, -0.69289057, -0.19067191, -1.12339636, -0.68442195,
        -0.36506078],
       [ 1.23388019, -0.69289057, -0.10558415,  1.94372388, -1.10325546,
         0.60439732],
       ...,
       [ 0.3429808 ,  0.27959377, -0.27575966,  0.00330087, -0.73518964,
        -0.68519336],
       [-0.84488505, -0.69289057,  1.17073215,  0.1597866 , -0.24020459,
        -0.37110101],
       [-0.84488505, -0.69289057, -0.87137393, -0.8730192 , -0.20212881,
        -0.47378505]])

In [13]:
from sklearn.model_selection import train_test_split
X1_train,X1_test,y_train,Y_test=train_test_split(X1,y,random_state=42,test_size=0.25)

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
logreg=LogisticRegression

In [ ]:
logreg=LogisticRegression()
logreg.fit(X1_train,y_train)
y_pred=logreg.predict(x1)