<a href="https://colab.research.google.com/github/pravin-raut/DS-ML/blob/Master/04_SimpleLinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
data=pd.read_csv("/content/slr.csv")
data

    chirps per second  temperature (F)
0           20.000000        88.599998
1           16.000000        71.599998
2           19.799999        93.300003
3           18.400000        84.300003
4           17.100000        80.599998
5           15.500000        75.199997
6           14.700000        69.699997
7           17.100000        82.000000
8           15.400000        69.400002
9           16.200001        83.300003
10          15.000000        79.599998
11          17.200001        82.599998
12          16.000000        80.599998
13          17.000000        83.500000
14          14.400000        76.300003

In [39]:
X=data[['chirps per second']]
y=data['temperature (F)']

In [40]:
X

    chirps per second
0           20.000000
1           16.000000
2           19.799999
3           18.400000
4           17.100000
5           15.500000
6           14.700000
7           17.100000
8           15.400000
9           16.200001
10          15.000000
11          17.200001
12          16.000000
13          17.000000
14          14.400000

In [41]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,Y_test=train_test_split(X,y,random_state=42,test_size=0.3)

In [42]:
y_train

8     69.400002
2     93.300003
1     71.599998
14    76.300003
4     80.599998
7     82.000000
10    79.599998
12    80.599998
3     84.300003
6     69.699997
Name: temperature (F), dtype: float64

In [44]:
from sklearn.linear_model import LinearRegression

In [45]:
slr_model=LinearRegression()

In [46]:
slr_model.fit(X_train,y_train)

LinearRegression()

In [47]:
slope=slr_model.coef_
slope

array([3.54577187])

In [48]:
y_intercept=slr_model.intercept_
y_intercept

20.624799623415704

In [49]:
y_pred_train=slr_model.predict(X_train)

In [50]:
from sklearn.metrics import r2_score,mean_squared_error
r2_train=r2_score(y_train,y_pred_train)
mse_train=mean_squared_error(y_train,y_pred_train)

In [51]:
r2_train

0.6894061834385429

In [52]:
mse_train

15.12853227265155

In [53]:
y_pred_test=slr_model.predict(X_test)

In [54]:
r2_test=r2_score(Y_test,y_pred_test)
r2_test

0.5230410019808561

In [55]:
mse_Test=mean_squared_error(Y_test,y_pred_test)

In [60]:
Y_test

9     83.300003
11    82.599998
0     88.599998
13    83.500000
5     75.199997
Name: temperature (F), dtype: float64